<template>
  <div>
    <section style="background: #f7f8fa;">
    <div class="container">
      <div class="row titleBlock">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left titleBlockItem"><h4><a href="#" class="name">Сервисы</a></h4></div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right titleBlockItem"><h4><a href="#" class="all">Все сервисы</a></h4></div>
      </div>
      <div class="container-fluid full-width has-inner">
            <div class="row row-no-gutter">
               <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                 <div class="innerCard">
                    <div class="box">
                      <svg class="logos" viewBox="0 -5 473.296 473" width="473pt" xmlns="http://www.w3.org/2000/svg"><path d="m389.382812 384.355469c73.054688-72.882813 84.4375-187.230469 27.179688-273.082031-57.253906-85.851563-167.191406-119.292969-262.554688-79.855469-95.363281 39.433593-149.574218 140.75-129.472656 241.96875 20.101563 101.21875 108.917969 174.128906 212.113282 174.128906 57.265624 0 112.195312-22.714844 152.734374-63.160156zm-260.613281 15.640625 46.109375-56.375c38.441406 21.238281 85.097656 21.238281 123.535156 0l46.113282 56.367187c-65.792969 41.980469-149.960938 41.980469-215.757813.007813zm28.679688-247.574219c43.738281-43.738281 114.652343-43.734375 158.386719.003906 43.738281 43.738281 43.738281 114.652344 0 158.390625-43.734376 43.738282-114.648438 43.738282-158.386719.003906-21.09375-20.957031-32.957031-49.464843-32.957031-79.199218s11.863281-58.242188 32.957031-79.199219zm220.621093 220.621094c-6.390624 6.371093-13.207031 12.300781-20.398437 17.753906l-45.703125-55.871094c10.855469-7.675781 20.324219-17.144531 28-28l55.878906 45.71875c-5.460937 7.191407-11.398437 14.007813-17.777344 20.398438zm26.953126-33.535157-56.375-46.121093c21.113281-38.472657 21.113281-85.0625 0-123.535157l56.367187-46.121093c41.984375 65.796875 41.988281 149.976562.007813 215.777343zm-9.175782-228.910156-55.871094 45.703125c-7.675781-10.859375-17.144531-20.328125-28-28l45.695313-55.878906c14.433594 10.894531 27.28125 23.742187 38.175781 38.175781zm-51.296875-47.355468-46.136719 56.378906c-38.46875-21.113282-85.0625-21.113282-123.535156 0l-46.109375-56.367188c65.777344-42.039062 149.980469-42.039062 215.757813 0zm-249.328125 26.953124c6.394532-6.367187 13.210938-12.296874 20.402344-17.75l45.703125 55.871094c-10.855469 7.675782-20.324219 17.144532-28 28l-55.878906-45.71875c5.460937-7.191406 11.398437-14.007812 17.773437-20.402344zm-26.949218 33.535157 56.375 46.121093c-21.113282 38.472657-21.113282 85.0625 0 123.535157l-56.367188 46.121093c-41.988281-65.796874-41.988281-149.976562-.007812-215.777343zm9.175781 228.914062 55.871093-45.703125c7.675782 10.855469 17.144532 20.324219 28 28l-45.695312 55.878906c-14.433594-10.898437-27.28125-23.746093-38.175781-38.175781zm0 0"/><path d="m76.816406 283.46875c-10.828125-33.71875-10.828125-69.980469 0-103.695312l-15.199218-4.929688c-11.839844 36.925781-11.839844 76.628906 0 113.550781zm0 0"/><path d="m288.496094 391.453125c-33.71875 10.824219-69.976563 10.824219-103.695313 0l-4.929687 15.199219c36.925781 11.839844 76.628906 11.839844 113.554687 0zm0 0"/><path d="m184.800781 71.789062c33.71875-10.828124 69.976563-10.828124 103.695313 0l4.929687-15.199218c-36.925781-11.84375-76.628906-11.84375-113.554687 0zm0 0"/><path d="m396.480469 179.773438c10.824219 33.714843 10.824219 69.976562 0 103.695312l15.199219 4.925781c11.839843-36.921875 11.839843-76.625 0-113.550781zm0 0"/><path d="m452.558594 146.554688c1.976562 5.015624 3.816406 10.226562 5.464844 15.464843l15.273437-4.800781c-1.769531-5.597656-3.738281-11.199219-5.855469-16.535156zm0 0"/><path d="m325.855469.148438-5.75 14.9375c55.167969 21.203124 100.140625 62.703124 125.695312 116l14.398438-6.945313c-27.3125-56.964844-75.378907-101.324219-134.34375-123.992187zm0 0"/><path d="m20.734375 316.683594c-1.972656-5.015625-3.8125-10.222656-5.460937-15.464844l-15.273438 4.800781c1.769531 5.601563 3.734375 11.199219 5.855469 16.535157zm0 0"/><path d="m27.496094 332.148438-14.398438 6.945312c27.3125 56.964844 75.378906 101.332031 134.351563 124l5.75-14.9375c-55.171875-21.203125-100.148438-62.710938-125.703125-116.007812zm0 0"/></svg>
                      <p class="serviceTitle">Оплата</p>
                   </div>
                 </div>
               </div>

               <!-- close .col -->
               <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                 <div class="innerCard">
                   <div class="box">
                     <svg class="logos" viewBox="0 -5 473.296 473" width="473pt" xmlns="http://www.w3.org/2000/svg"><path d="m389.382812 384.355469c73.054688-72.882813 84.4375-187.230469 27.179688-273.082031-57.253906-85.851563-167.191406-119.292969-262.554688-79.855469-95.363281 39.433593-149.574218 140.75-129.472656 241.96875 20.101563 101.21875 108.917969 174.128906 212.113282 174.128906 57.265624 0 112.195312-22.714844 152.734374-63.160156zm-260.613281 15.640625 46.109375-56.375c38.441406 21.238281 85.097656 21.238281 123.535156 0l46.113282 56.367187c-65.792969 41.980469-149.960938 41.980469-215.757813.007813zm28.679688-247.574219c43.738281-43.738281 114.652343-43.734375 158.386719.003906 43.738281 43.738281 43.738281 114.652344 0 158.390625-43.734376 43.738282-114.648438 43.738282-158.386719.003906-21.09375-20.957031-32.957031-49.464843-32.957031-79.199218s11.863281-58.242188 32.957031-79.199219zm220.621093 220.621094c-6.390624 6.371093-13.207031 12.300781-20.398437 17.753906l-45.703125-55.871094c10.855469-7.675781 20.324219-17.144531 28-28l55.878906 45.71875c-5.460937 7.191407-11.398437 14.007813-17.777344 20.398438zm26.953126-33.535157-56.375-46.121093c21.113281-38.472657 21.113281-85.0625 0-123.535157l56.367187-46.121093c41.984375 65.796875 41.988281 149.976562.007813 215.777343zm-9.175782-228.910156-55.871094 45.703125c-7.675781-10.859375-17.144531-20.328125-28-28l45.695313-55.878906c14.433594 10.894531 27.28125 23.742187 38.175781 38.175781zm-51.296875-47.355468-46.136719 56.378906c-38.46875-21.113282-85.0625-21.113282-123.535156 0l-46.109375-56.367188c65.777344-42.039062 149.980469-42.039062 215.757813 0zm-249.328125 26.953124c6.394532-6.367187 13.210938-12.296874 20.402344-17.75l45.703125 55.871094c-10.855469 7.675782-20.324219 17.144532-28 28l-55.878906-45.71875c5.460937-7.191406 11.398437-14.007812 17.773437-20.402344zm-26.949218 33.535157 56.375 46.121093c-21.113282 38.472657-21.113282 85.0625 0 123.535157l-56.367188 46.121093c-41.988281-65.796874-41.988281-149.976562-.007812-215.777343zm9.175781 228.914062 55.871093-45.703125c7.675782 10.855469 17.144532 20.324219 28 28l-45.695312 55.878906c-14.433594-10.898437-27.28125-23.746093-38.175781-38.175781zm0 0"/><path d="m76.816406 283.46875c-10.828125-33.71875-10.828125-69.980469 0-103.695312l-15.199218-4.929688c-11.839844 36.925781-11.839844 76.628906 0 113.550781zm0 0"/><path d="m288.496094 391.453125c-33.71875 10.824219-69.976563 10.824219-103.695313 0l-4.929687 15.199219c36.925781 11.839844 76.628906 11.839844 113.554687 0zm0 0"/><path d="m184.800781 71.789062c33.71875-10.828124 69.976563-10.828124 103.695313 0l4.929687-15.199218c-36.925781-11.84375-76.628906-11.84375-113.554687 0zm0 0"/><path d="m396.480469 179.773438c10.824219 33.714843 10.824219 69.976562 0 103.695312l15.199219 4.925781c11.839843-36.921875 11.839843-76.625 0-113.550781zm0 0"/><path d="m452.558594 146.554688c1.976562 5.015624 3.816406 10.226562 5.464844 15.464843l15.273437-4.800781c-1.769531-5.597656-3.738281-11.199219-5.855469-16.535156zm0 0"/><path d="m325.855469.148438-5.75 14.9375c55.167969 21.203124 100.140625 62.703124 125.695312 116l14.398438-6.945313c-27.3125-56.964844-75.378907-101.324219-134.34375-123.992187zm0 0"/><path d="m20.734375 316.683594c-1.972656-5.015625-3.8125-10.222656-5.460937-15.464844l-15.273438 4.800781c1.769531 5.601563 3.734375 11.199219 5.855469 16.535157zm0 0"/><path d="m27.496094 332.148438-14.398438 6.945312c27.3125 56.964844 75.378906 101.332031 134.351563 124l5.75-14.9375c-55.171875-21.203125-100.148438-62.710938-125.703125-116.007812zm0 0"/></svg>
                     <p class="serviceTitle">Оплата</p>
                  </div>
                 </div>
               </div>
               <!-- close .col -->
               <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                 <div class="innerCard">
                   <div class="box">
                     <svg class="logos" viewBox="0 -5 473.296 473" width="473pt" xmlns="http://www.w3.org/2000/svg"><path d="m389.382812 384.355469c73.054688-72.882813 84.4375-187.230469 27.179688-273.082031-57.253906-85.851563-167.191406-119.292969-262.554688-79.855469-95.363281 39.433593-149.574218 140.75-129.472656 241.96875 20.101563 101.21875 108.917969 174.128906 212.113282 174.128906 57.265624 0 112.195312-22.714844 152.734374-63.160156zm-260.613281 15.640625 46.109375-56.375c38.441406 21.238281 85.097656 21.238281 123.535156 0l46.113282 56.367187c-65.792969 41.980469-149.960938 41.980469-215.757813.007813zm28.679688-247.574219c43.738281-43.738281 114.652343-43.734375 158.386719.003906 43.738281 43.738281 43.738281 114.652344 0 158.390625-43.734376 43.738282-114.648438 43.738282-158.386719.003906-21.09375-20.957031-32.957031-49.464843-32.957031-79.199218s11.863281-58.242188 32.957031-79.199219zm220.621093 220.621094c-6.390624 6.371093-13.207031 12.300781-20.398437 17.753906l-45.703125-55.871094c10.855469-7.675781 20.324219-17.144531 28-28l55.878906 45.71875c-5.460937 7.191407-11.398437 14.007813-17.777344 20.398438zm26.953126-33.535157-56.375-46.121093c21.113281-38.472657 21.113281-85.0625 0-123.535157l56.367187-46.121093c41.984375 65.796875 41.988281 149.976562.007813 215.777343zm-9.175782-228.910156-55.871094 45.703125c-7.675781-10.859375-17.144531-20.328125-28-28l45.695313-55.878906c14.433594 10.894531 27.28125 23.742187 38.175781 38.175781zm-51.296875-47.355468-46.136719 56.378906c-38.46875-21.113282-85.0625-21.113282-123.535156 0l-46.109375-56.367188c65.777344-42.039062 149.980469-42.039062 215.757813 0zm-249.328125 26.953124c6.394532-6.367187 13.210938-12.296874 20.402344-17.75l45.703125 55.871094c-10.855469 7.675782-20.324219 17.144532-28 28l-55.878906-45.71875c5.460937-7.191406 11.398437-14.007812 17.773437-20.402344zm-26.949218 33.535157 56.375 46.121093c-21.113282 38.472657-21.113282 85.0625 0 123.535157l-56.367188 46.121093c-41.988281-65.796874-41.988281-149.976562-.007812-215.777343zm9.175781 228.914062 55.871093-45.703125c7.675782 10.855469 17.144532 20.324219 28 28l-45.695312 55.878906c-14.433594-10.898437-27.28125-23.746093-38.175781-38.175781zm0 0"/><path d="m76.816406 283.46875c-10.828125-33.71875-10.828125-69.980469 0-103.695312l-15.199218-4.929688c-11.839844 36.925781-11.839844 76.628906 0 113.550781zm0 0"/><path d="m288.496094 391.453125c-33.71875 10.824219-69.976563 10.824219-103.695313 0l-4.929687 15.199219c36.925781 11.839844 76.628906 11.839844 113.554687 0zm0 0"/><path d="m184.800781 71.789062c33.71875-10.828124 69.976563-10.828124 103.695313 0l4.929687-15.199218c-36.925781-11.84375-76.628906-11.84375-113.554687 0zm0 0"/><path d="m396.480469 179.773438c10.824219 33.714843 10.824219 69.976562 0 103.695312l15.199219 4.925781c11.839843-36.921875 11.839843-76.625 0-113.550781zm0 0"/><path d="m452.558594 146.554688c1.976562 5.015624 3.816406 10.226562 5.464844 15.464843l15.273437-4.800781c-1.769531-5.597656-3.738281-11.199219-5.855469-16.535156zm0 0"/><path d="m325.855469.148438-5.75 14.9375c55.167969 21.203124 100.140625 62.703124 125.695312 116l14.398438-6.945313c-27.3125-56.964844-75.378907-101.324219-134.34375-123.992187zm0 0"/><path d="m20.734375 316.683594c-1.972656-5.015625-3.8125-10.222656-5.460937-15.464844l-15.273438 4.800781c1.769531 5.601563 3.734375 11.199219 5.855469 16.535157zm0 0"/><path d="m27.496094 332.148438-14.398438 6.945312c27.3125 56.964844 75.378906 101.332031 134.351563 124l5.75-14.9375c-55.171875-21.203125-100.148438-62.710938-125.703125-116.007812zm0 0"/></svg>
                     <p class="serviceTitle">Оплата</p>
                  </div>
                 </div>
               </div>
               <!-- close .col -->
               <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                 <div class="innerCard">
                   <div class="box">
                     <svg class="logos" viewBox="0 -5 473.296 473" width="473pt" xmlns="http://www.w3.org/2000/svg"><path d="m389.382812 384.355469c73.054688-72.882813 84.4375-187.230469 27.179688-273.082031-57.253906-85.851563-167.191406-119.292969-262.554688-79.855469-95.363281 39.433593-149.574218 140.75-129.472656 241.96875 20.101563 101.21875 108.917969 174.128906 212.113282 174.128906 57.265624 0 112.195312-22.714844 152.734374-63.160156zm-260.613281 15.640625 46.109375-56.375c38.441406 21.238281 85.097656 21.238281 123.535156 0l46.113282 56.367187c-65.792969 41.980469-149.960938 41.980469-215.757813.007813zm28.679688-247.574219c43.738281-43.738281 114.652343-43.734375 158.386719.003906 43.738281 43.738281 43.738281 114.652344 0 158.390625-43.734376 43.738282-114.648438 43.738282-158.386719.003906-21.09375-20.957031-32.957031-49.464843-32.957031-79.199218s11.863281-58.242188 32.957031-79.199219zm220.621093 220.621094c-6.390624 6.371093-13.207031 12.300781-20.398437 17.753906l-45.703125-55.871094c10.855469-7.675781 20.324219-17.144531 28-28l55.878906 45.71875c-5.460937 7.191407-11.398437 14.007813-17.777344 20.398438zm26.953126-33.535157-56.375-46.121093c21.113281-38.472657 21.113281-85.0625 0-123.535157l56.367187-46.121093c41.984375 65.796875 41.988281 149.976562.007813 215.777343zm-9.175782-228.910156-55.871094 45.703125c-7.675781-10.859375-17.144531-20.328125-28-28l45.695313-55.878906c14.433594 10.894531 27.28125 23.742187 38.175781 38.175781zm-51.296875-47.355468-46.136719 56.378906c-38.46875-21.113282-85.0625-21.113282-123.535156 0l-46.109375-56.367188c65.777344-42.039062 149.980469-42.039062 215.757813 0zm-249.328125 26.953124c6.394532-6.367187 13.210938-12.296874 20.402344-17.75l45.703125 55.871094c-10.855469 7.675782-20.324219 17.144532-28 28l-55.878906-45.71875c5.460937-7.191406 11.398437-14.007812 17.773437-20.402344zm-26.949218 33.535157 56.375 46.121093c-21.113282 38.472657-21.113282 85.0625 0 123.535157l-56.367188 46.121093c-41.988281-65.796874-41.988281-149.976562-.007812-215.777343zm9.175781 228.914062 55.871093-45.703125c7.675782 10.855469 17.144532 20.324219 28 28l-45.695312 55.878906c-14.433594-10.898437-27.28125-23.746093-38.175781-38.175781zm0 0"/><path d="m76.816406 283.46875c-10.828125-33.71875-10.828125-69.980469 0-103.695312l-15.199218-4.929688c-11.839844 36.925781-11.839844 76.628906 0 113.550781zm0 0"/><path d="m288.496094 391.453125c-33.71875 10.824219-69.976563 10.824219-103.695313 0l-4.929687 15.199219c36.925781 11.839844 76.628906 11.839844 113.554687 0zm0 0"/><path d="m184.800781 71.789062c33.71875-10.828124 69.976563-10.828124 103.695313 0l4.929687-15.199218c-36.925781-11.84375-76.628906-11.84375-113.554687 0zm0 0"/><path d="m396.480469 179.773438c10.824219 33.714843 10.824219 69.976562 0 103.695312l15.199219 4.925781c11.839843-36.921875 11.839843-76.625 0-113.550781zm0 0"/><path d="m452.558594 146.554688c1.976562 5.015624 3.816406 10.226562 5.464844 15.464843l15.273437-4.800781c-1.769531-5.597656-3.738281-11.199219-5.855469-16.535156zm0 0"/><path d="m325.855469.148438-5.75 14.9375c55.167969 21.203124 100.140625 62.703124 125.695312 116l14.398438-6.945313c-27.3125-56.964844-75.378907-101.324219-134.34375-123.992187zm0 0"/><path d="m20.734375 316.683594c-1.972656-5.015625-3.8125-10.222656-5.460937-15.464844l-15.273438 4.800781c1.769531 5.601563 3.734375 11.199219 5.855469 16.535157zm0 0"/><path d="m27.496094 332.148438-14.398438 6.945312c27.3125 56.964844 75.378906 101.332031 134.351563 124l5.75-14.9375c-55.171875-21.203125-100.148438-62.710938-125.703125-116.007812zm0 0"/></svg>
                     <p class="serviceTitle">Оплата</p>
                  </div>
                 </div>
               </div>
               <!-- close .col -->
               <div class="col-0 col-sm-6 col-md-4 col-lg-2 d-none d-sm-none d-md-block d-lg-block">
                 <div class="innerCard">
                   <div class="box">
                     <svg class="logos" viewBox="0 -5 473.296 473" width="473pt" xmlns="http://www.w3.org/2000/svg"><path d="m389.382812 384.355469c73.054688-72.882813 84.4375-187.230469 27.179688-273.082031-57.253906-85.851563-167.191406-119.292969-262.554688-79.855469-95.363281 39.433593-149.574218 140.75-129.472656 241.96875 20.101563 101.21875 108.917969 174.128906 212.113282 174.128906 57.265624 0 112.195312-22.714844 152.734374-63.160156zm-260.613281 15.640625 46.109375-56.375c38.441406 21.238281 85.097656 21.238281 123.535156 0l46.113282 56.367187c-65.792969 41.980469-149.960938 41.980469-215.757813.007813zm28.679688-247.574219c43.738281-43.738281 114.652343-43.734375 158.386719.003906 43.738281 43.738281 43.738281 114.652344 0 158.390625-43.734376 43.738282-114.648438 43.738282-158.386719.003906-21.09375-20.957031-32.957031-49.464843-32.957031-79.199218s11.863281-58.242188 32.957031-79.199219zm220.621093 220.621094c-6.390624 6.371093-13.207031 12.300781-20.398437 17.753906l-45.703125-55.871094c10.855469-7.675781 20.324219-17.144531 28-28l55.878906 45.71875c-5.460937 7.191407-11.398437 14.007813-17.777344 20.398438zm26.953126-33.535157-56.375-46.121093c21.113281-38.472657 21.113281-85.0625 0-123.535157l56.367187-46.121093c41.984375 65.796875 41.988281 149.976562.007813 215.777343zm-9.175782-228.910156-55.871094 45.703125c-7.675781-10.859375-17.144531-20.328125-28-28l45.695313-55.878906c14.433594 10.894531 27.28125 23.742187 38.175781 38.175781zm-51.296875-47.355468-46.136719 56.378906c-38.46875-21.113282-85.0625-21.113282-123.535156 0l-46.109375-56.367188c65.777344-42.039062 149.980469-42.039062 215.757813 0zm-249.328125 26.953124c6.394532-6.367187 13.210938-12.296874 20.402344-17.75l45.703125 55.871094c-10.855469 7.675782-20.324219 17.144532-28 28l-55.878906-45.71875c5.460937-7.191406 11.398437-14.007812 17.773437-20.402344zm-26.949218 33.535157 56.375 46.121093c-21.113282 38.472657-21.113282 85.0625 0 123.535157l-56.367188 46.121093c-41.988281-65.796874-41.988281-149.976562-.007812-215.777343zm9.175781 228.914062 55.871093-45.703125c7.675782 10.855469 17.144532 20.324219 28 28l-45.695312 55.878906c-14.433594-10.898437-27.28125-23.746093-38.175781-38.175781zm0 0"/><path d="m76.816406 283.46875c-10.828125-33.71875-10.828125-69.980469 0-103.695312l-15.199218-4.929688c-11.839844 36.925781-11.839844 76.628906 0 113.550781zm0 0"/><path d="m288.496094 391.453125c-33.71875 10.824219-69.976563 10.824219-103.695313 0l-4.929687 15.199219c36.925781 11.839844 76.628906 11.839844 113.554687 0zm0 0"/><path d="m184.800781 71.789062c33.71875-10.828124 69.976563-10.828124 103.695313 0l4.929687-15.199218c-36.925781-11.84375-76.628906-11.84375-113.554687 0zm0 0"/><path d="m396.480469 179.773438c10.824219 33.714843 10.824219 69.976562 0 103.695312l15.199219 4.925781c11.839843-36.921875 11.839843-76.625 0-113.550781zm0 0"/><path d="m452.558594 146.554688c1.976562 5.015624 3.816406 10.226562 5.464844 15.464843l15.273437-4.800781c-1.769531-5.597656-3.738281-11.199219-5.855469-16.535156zm0 0"/><path d="m325.855469.148438-5.75 14.9375c55.167969 21.203124 100.140625 62.703124 125.695312 116l14.398438-6.945313c-27.3125-56.964844-75.378907-101.324219-134.34375-123.992187zm0 0"/><path d="m20.734375 316.683594c-1.972656-5.015625-3.8125-10.222656-5.460937-15.464844l-15.273438 4.800781c1.769531 5.601563 3.734375 11.199219 5.855469 16.535157zm0 0"/><path d="m27.496094 332.148438-14.398438 6.945312c27.3125 56.964844 75.378906 101.332031 134.351563 124l5.75-14.9375c-55.171875-21.203125-100.148438-62.710938-125.703125-116.007812zm0 0"/></svg>
                     <p class="serviceTitle">Оплата</p>
                  </div>
                 </div>
               </div>
               <!-- close .col -->
               <div class="col-0 col-sm-6 col-md-4 col-lg-2 d-none d-sm-none d-md-block d-lg-block">
                 <div class="innerCard">
                   <div class="box">
                     <svg class="logos" viewBox="0 -5 473.296 473" width="473pt" xmlns="http://www.w3.org/2000/svg"><path d="m389.382812 384.355469c73.054688-72.882813 84.4375-187.230469 27.179688-273.082031-57.253906-85.851563-167.191406-119.292969-262.554688-79.855469-95.363281 39.433593-149.574218 140.75-129.472656 241.96875 20.101563 101.21875 108.917969 174.128906 212.113282 174.128906 57.265624 0 112.195312-22.714844 152.734374-63.160156zm-260.613281 15.640625 46.109375-56.375c38.441406 21.238281 85.097656 21.238281 123.535156 0l46.113282 56.367187c-65.792969 41.980469-149.960938 41.980469-215.757813.007813zm28.679688-247.574219c43.738281-43.738281 114.652343-43.734375 158.386719.003906 43.738281 43.738281 43.738281 114.652344 0 158.390625-43.734376 43.738282-114.648438 43.738282-158.386719.003906-21.09375-20.957031-32.957031-49.464843-32.957031-79.199218s11.863281-58.242188 32.957031-79.199219zm220.621093 220.621094c-6.390624 6.371093-13.207031 12.300781-20.398437 17.753906l-45.703125-55.871094c10.855469-7.675781 20.324219-17.144531 28-28l55.878906 45.71875c-5.460937 7.191407-11.398437 14.007813-17.777344 20.398438zm26.953126-33.535157-56.375-46.121093c21.113281-38.472657 21.113281-85.0625 0-123.535157l56.367187-46.121093c41.984375 65.796875 41.988281 149.976562.007813 215.777343zm-9.175782-228.910156-55.871094 45.703125c-7.675781-10.859375-17.144531-20.328125-28-28l45.695313-55.878906c14.433594 10.894531 27.28125 23.742187 38.175781 38.175781zm-51.296875-47.355468-46.136719 56.378906c-38.46875-21.113282-85.0625-21.113282-123.535156 0l-46.109375-56.367188c65.777344-42.039062 149.980469-42.039062 215.757813 0zm-249.328125 26.953124c6.394532-6.367187 13.210938-12.296874 20.402344-17.75l45.703125 55.871094c-10.855469 7.675782-20.324219 17.144532-28 28l-55.878906-45.71875c5.460937-7.191406 11.398437-14.007812 17.773437-20.402344zm-26.949218 33.535157 56.375 46.121093c-21.113282 38.472657-21.113282 85.0625 0 123.535157l-56.367188 46.121093c-41.988281-65.796874-41.988281-149.976562-.007812-215.777343zm9.175781 228.914062 55.871093-45.703125c7.675782 10.855469 17.144532 20.324219 28 28l-45.695312 55.878906c-14.433594-10.898437-27.28125-23.746093-38.175781-38.175781zm0 0"/><path d="m76.816406 283.46875c-10.828125-33.71875-10.828125-69.980469 0-103.695312l-15.199218-4.929688c-11.839844 36.925781-11.839844 76.628906 0 113.550781zm0 0"/><path d="m288.496094 391.453125c-33.71875 10.824219-69.976563 10.824219-103.695313 0l-4.929687 15.199219c36.925781 11.839844 76.628906 11.839844 113.554687 0zm0 0"/><path d="m184.800781 71.789062c33.71875-10.828124 69.976563-10.828124 103.695313 0l4.929687-15.199218c-36.925781-11.84375-76.628906-11.84375-113.554687 0zm0 0"/><path d="m396.480469 179.773438c10.824219 33.714843 10.824219 69.976562 0 103.695312l15.199219 4.925781c11.839843-36.921875 11.839843-76.625 0-113.550781zm0 0"/><path d="m452.558594 146.554688c1.976562 5.015624 3.816406 10.226562 5.464844 15.464843l15.273437-4.800781c-1.769531-5.597656-3.738281-11.199219-5.855469-16.535156zm0 0"/><path d="m325.855469.148438-5.75 14.9375c55.167969 21.203124 100.140625 62.703124 125.695312 116l14.398438-6.945313c-27.3125-56.964844-75.378907-101.324219-134.34375-123.992187zm0 0"/><path d="m20.734375 316.683594c-1.972656-5.015625-3.8125-10.222656-5.460937-15.464844l-15.273438 4.800781c1.769531 5.601563 3.734375 11.199219 5.855469 16.535157zm0 0"/><path d="m27.496094 332.148438-14.398438 6.945312c27.3125 56.964844 75.378906 101.332031 134.351563 124l5.75-14.9375c-55.171875-21.203125-100.148438-62.710938-125.703125-116.007812zm0 0"/></svg>
                     <p class="serviceTitle">Оплата</p>
                  </div>
                 </div>
               </div>
               <!-- close .col -->
            </div>
         </div>
         <hr>
        </div>
    </section>
  </div>
</template>

<script>

</script>

<style>

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    //overflow-x: hidden;
}
.row.row-no-gutter {
    margin: 0
}
.row.row-no-gutter [class*="col-"] {
    padding: 0
}
.img-full-width {
    width: 100.5%;
    height: auto;
}
.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}
.row.row-no-gutter .innerCard {
    //background: white;
    padding-left: 10px;
    padding-right: 10px;
    position:relative;
}
p.number{
  position: absolute;
  top: 60%;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 19px;
  font-weight:300;
}
p.date{
  position: absolute;
  top: 75%;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 16px;
  font-weight:200;
}
p.sum{
  position: absolute;
  top: 30%;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 34px;
  font-weight:400;
}
img.cardLogo{
  position: absolute;
  top: 10%;
  right: 0;
  width: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
.titleBlock{
  margin:15px 0px;
}
.titleBlockItem{
  padding: 0px;
}
.titleBlockItem a{
  text-decoration:none;
}
a.name{
  color: #191919;
}
a.all{
  color: #a9a9a9;
  font-size: 16px;
  border-radius: 8px;
  border: solid 1px #a9a9a9;
  padding: 5px 10px;
  font-weight: 300;
}
a.all:hover{
  color: #fa720c;
  border: solid 1px #fa720c;
}
.box{
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
  border-radius: 10px;
  border: 2px solid #f7f8fa;
  margin: 10px 0;
  transition: width 2s linear 1s;
}
.box:hover{
  border: 2px solid #fa720c;
}
.logos{
  width: 50%;
  position: absolute;
  fill: #fa720c;
  bottom:25%;
  right: 25%;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 0.75s;
}
.box:hover .logos{
  transform: translate(0, -25%);
}
.serviceTitle{
  width:80%;
  position: absolute;
  bottom:-10px;
  right: 10%;
  font-size: 20px;
  text-align: center;
  transition: width 2s linear 1s;
  color:white;
  -webkit-transition: color 1s, height 2s, background-color 2s, -webkit-transform 0.5s;
}
.box:hover .serviceTitle{
  transform: translate(0, -80%);
  color:#191919;

}
</style>
