<template>
  <div class="">
    <div class="never">
        <div class="container">
          <div class="row align-items-center" style="height:100vh;">
            <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0 align-self-center" style="text-align:center">
              <h3 class="text-center">Вход или регистрация</h3>
              <p>Номер телефона</p>
              <input type="text" name="" value="" class="phone" maxlength="12" placeholder="--- -- --- -- --">
              <p>Единая атворизация и регистрация</p>
              <div class="row apps">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 left">
                  <img src="../assets/googleAppLogo.png" alt="googleAppLogo" class="appLogo">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 right" style="position: relative;">
                  <img src="../assets/appleAppLogo.png" alt="googleAppLogo" class="appLogo">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-0 col-0 d-none d-sm-none d-md-block d-lg-block">
              <img src="../assets/applesin.png" class="phoneImg">
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>

</script>
<style>
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

.never{
  height:100vh;
  background-image:url("../assets/bg.jpg");
  height:100vh;
  background-position: center;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}
input.phone{
  width:80%;
  background:white;
  border-radius:50px;
  height:60px;
  border: #c8c8c8 solid 2px;
  font-size: 30px;
  padding:5px 25px;
}
h3{
  margin-bottom: 0px;
  margin-bottom: 30px;
}
p{
  margin-bottom:0px;
  margin: 10px 0;
}
.apps{
  margin-top:30px;
}
.left{
  text-align:right;
}
.right{
  text-align:left;
}
img.appLogo{
  width:50%;
}
img.phoneImg{
  width: 60%;
  position: absolute;
  transform: translate(50%, -40%);
}

</style>
