<template>
  <div>
    <section style="background: #f7f8fa;">
    <div class="container">
      <div class="row titleBlock">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left titleBlockItem"><h4><a href="#" class="name">Карты</a></h4></div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right titleBlockItem"><h4><a href="#" class="all">Все карты</a></h4></div>
      </div>
      <div class="container-fluid full-width has-inner">
            <div class="row row-no-gutter" id="card" >
               <div class="col-12 col-sm-6 col-lg-4" v-for="card in cards" :key="card.card">
                 <div class="innerCard">
                    <img src="../assets/card.png" class="img-full-width" alt="" />
                    <p class="sum text-right">{{ card.sum }}</p>
                    <p class="number text-right">{{ card.number }}</p>
                    <p class="date text-right">00 / 00</p>
                    <img src="../assets/uzcard.png" class="cardLogo" alt="" />
                 </div>
               </div>
               <div class="col-12 col-sm-6 col-lg-4">
                 <a href="#"><div class="innerCard">
                    <img src="../assets/card.png" class="img-full-width" alt="" />
                    <p class="sum text-right">1</p>
                    <p class="number text-right">2</p>
                    <p class="date text-right">3</p>
                    <img src="../assets/uzcard.png" class="cardLogo" alt="" />
                 </div></a>
               </div>

            </div>
         </div>
         <hr>
        </div>
    </section>
  </div>
</template>

<script>
module.exports = {
  data: function(){
    return{
      cards: [
        {
          sum: '1 000 000',
          number: '1478 2547 3657 7895',
          date: '00 / 00',
        },
        {
          sum: '2 000 000',
          number: '1478 2547 3657 7895',
          date: '00 / 00',
        }
      ]
    }
  }
}


</script>

<style>

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
}
.row.row-no-gutter {
    margin: 0
}
.row.row-no-gutter [class*="col-"] {
    padding: 0
}
.img-full-width {
    width: 100.5%;
    height: auto;
}
.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}
.row.row-no-gutter .innerCard {
    padding-left: 10px;
    padding-right: 10px;
    position:relative;
}
p.number{
  position: absolute;
  top: 60%;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 19px;
  font-weight:300;
}
p.date{
  position: absolute;
  top: 75%;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 16px;
  font-weight:200;
}
p.sum{
  position: absolute;
  top: 30%;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 34px;
  font-weight:400;
}
img.cardLogo{
  position: absolute;
  top: 10%;
  right: 0;
  width: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
.titleBlock{
  margin:15px 0px;
}
.titleBlockItem{
  padding: 0px;
}
.titleBlockItem a{
  text-decoration:none;
}
a.name{
  color: #191919;
}
a.all{
  color: #a9a9a9;
  font-size: 16px;
  border-radius: 8px;
  border: solid 1px #a9a9a9;
  padding: 5px 10px;
  font-weight: 300;
}
a.all:hover{
  color: #fa720c;
  border: solid 1px #fa720c;
}
.img-full-width{
  padding: 10px 0;
}
</style>
