<template>
  <div class="">
    <div class="container">
      <div class="row titleBlock">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left titleBlockItem"><h4><a href="#" class="name">Оплата мобильной услуги</a></h4></div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right titleBlockItem"><h4></h4></div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-5">
          <div class="inp">
            <p class="inpP">+998 </p><input type="text" name="" value="" class="inpInput">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-5">
          <div class="inp">
            <input type="text" name="" value="" class="inpInput"><p class="inpP">сум</p>
            <div style="clear:both"></div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2">
          <button type="button" name="button" class="send"><p>Оплатить</p></button>
        </div>
      </div>
      <hr>
    </div>
  </div>
</template>

<script>

</script>

<style>
.inp{
  width:100%;
  border: solid 1px #e9e9e9;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 20px;
  background: d3d3d3;
  margin: 10px 0;
}
.inpP, .inpInput, button.send{
  display: inline-block;

}
.inpInput{
  border:none;
  outline:none;
  width:80%;
  background: none;

}
.inp:hover{
  border: solid 1px #a9a9a9;
}
button.send{
  width: 100%;
  background:#fa720c;
  border: solid 1px #fa720c;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 20px;
  color: white;
  margin: 10px 0;
}
</style>
