<template>
  <div class="">
    <div class="container">
      <div class="row main ">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navig" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <a class="navbar-brand" href="#">
          <img src="../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Apelsin
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
          <symbol id="my-first-icon" viewBox="0 0 20 20">
            <title>my-first-icon</title>
            <path d="../assets/wallet.svg" />
          </symbol>
        </svg>
        <div class="collapse navbar-collapse item justify-content-end " id="navbarText">

          <span class="navbar-text align-middle">
            <ul class="navbar-nav mr-auto align-middle">
              <li class="nav-item active align-items-center">
                <a class="nav-link" href="#"><img src="../assets/card.svg" class="icons">Переводы <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="../assets/wallet.svg" class="icons">Оплата</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="../assets/help.svg" class="icons">Помощь</a>
              </li>
            </ul>
          </span>
        </div>
      </nav>
      </div>
    </div>
  </div>
</template>

<script>

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
*{
  font-family: 'Oswald', sans-serif;
}
.navig{
  //background: red !important;
  padding: 10px 80px !important;
  font-size:20px;
}

.item {
  //background: blue;
}
img.icons{
  height:20px;
  margin-right:10px;
}


</style>
