<template>
  <div id="app">
    <ToDoList></ToDoList>
    <Banner></Banner>
    <AllServices></AllServices>
    <Card></Card>
    <PayPhone></PayPhone>

  </div>
</template>

<script>
  import ToDoList from './components/ToDoList.vue'
  import Banner from './components/Banner.vue'
  import AllServices from './components/AllServices.vue'
  import Card from './components/Card.vue'
  import PayPhone from './components/PayPhone.vue'

export default {
  name: 'app',
  data(){
    return{
      todos: ['Repair', 'Eating']
    }
  },
  components: {
    ToDoList, Banner, AllServices, Card, PayPhone,
  },


}
</script>

<style>
  section{
    display:block;
    background:blue;
    position:relative;
    padding: 20px 0;
  }
  .top-menu{
    background:red;
  }
</style>
